<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCc7GDwRugv9M0wL7rSCh881f9tRcmRpkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>144042224077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hatir</string>
	<key>PROJECT_ID</key>
	<string>hatir-dd804</string>
	<key>STORAGE_BUCKET</key>
	<string>hatir-dd804.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144042224077:ios:2435f3a06b87aacb23bc84</string>
</dict>
</plist>